/* dark.css */
:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --decor-color: #FF0070;
  --button-color: #FF0070;
  --button-hover: rgba(255, 0, 112, 0.4);
  --section-title-color: #FF0070;
  --article-text-color: #F1B2CE;
  --menu-color: #FF0070;
  --background-image: url('../images/cover-image-dark.png');
}

/* Особенности тёмной темы */
.theme-dark .header__decoration {
  color: var(--decor-color);
}

.theme-dark .header__decoration::after {
  background-color: var(--decor-color);
}

.theme-dark .title-decor {
  color: #000028;
}
